extend default

block content

  p.
    New Races

  ul.menu
    each race in newRaces
      li: a(href='/race/' + race._id) #{race.url}

  p.
    Processed Races

  ul.menu
    each race in processedRaces
      li: a(href='/race/' + race._id) #{race.url}