extend default

block content

  div#race_details
    p.bold.
      #{reportName}

    div.report
      !=reportHtml
    p
      if distance
        p Distance: #{distance} mi
      else
        p Unable to determine race distance

    p
      if runners.length > 0
        table
          thead
            tr
              th.
                Runners
          tbody
            each runner in runners
              tr
                td 
                  !=runner
      else
        p Unable to determine runners


    unless published===true
      button(id='ignore', title='Mark race as ignored') Ignore
      if runners.length > 0 && distance
        button(id='process', title='Update runners with race distance') Process
      button(id='mark-processed', title='Mark as processed without updating runners') Mark as Processed
      input(type='hidden', value=_id, id='race_id')