extend default

block content

  div.runner-details
    p.name.
      #{name}

    div.gender
      p.gender Gender
      input(type='hidden', value=_id, id='runner_id')
      select#genderSelect
        option(value='', selected= true) - Select -
        option(value='man', selected= gender === 'man') Man
        option(value='woman', selected= gender === 'woman')  Woman

    p
      if races.length > 0
        table#races
          thead
            tr
              th.
                Race
              th.
                Distance
          tbody
            each race in races
              tr
                td 
                  !=race.name
                td 
                  !=race.distance