extend default

block content

  div.runners-list
    if runners.length > 0
      table
        thead
          tr
            th.
              Name
            th.
              Total Distance
        tbody
          each runner in runners
            tr(class= 'gender-' + runner.gender)
              td 
                a(href='/runner/' + runner._id) #{runner.name}
              td
                !=runner.totalDistance
